<!-- <div class="row center-xs">
  
</div>
<div class="row">
  <div class="col-xs-12">
    <mob-convert></mob-convert>
  </div>
</div> -->

<nb-layout center>
  <nb-layout-header>
    <h1>Mobify</h1>
  </nb-layout-header>

  <nb-layout-column>
    <div class="row center-xs">
      <div class="col-xs-12">
        <p class="thin">A simple utility to batch convert .epub to .mobi files</p>
      </div>
      <div class="col-xs-12">
        <mob-convert></mob-convert>
      </div>
    </div> 
  </nb-layout-column>
</nb-layout>